*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300, 400, 500, 600, 700, 800;
    font-style: normal;
}

:root {
    --purple : #8b6add;

    --font-size-XL : 50px;
    --font-size-L : 40px;
    --font-size-M : 18px;
    --font-size-s : 13px;

    --title-margin : 70px;
}

/* ------------- */
.App {
  max-width: 1340px;
  margin: auto;
  padding: 0px 5px;
  font-family: 'Pretendard-Regular';
  position: relative;
}

.wrapper { 
    max-width: 1340px;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container { 
    /* border: 1px solid pink; */
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/* Nav */
.Nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    max-width: 1340px;
    position: fixed;
}

.Nav .logo{ 
    font-size: 25px;
}

.Nav .full-width-nav { 
    display: flex;
    align-items: center;
}

.Nav .full-width-nav ul { 
    list-style: none;
    display: flex;
}

.Nav .full-width-nav ul a { 
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

.Nav .full-width-nav .mode-btns{ 
    cursor: pointer;
    margin-left: 5px;
}

.Nav .full-width-nav ul a:hover,
.Nav .full-width-nav .mode-btns:hover{
    color: var(--purple);
}



/* Intro */
.intro { 
    height: calc(100% - 50px); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 80%;
}

.intro_wrapper{
    display: flex;
    flex-direction: column;
}

.intro .intro_img{ 
    width: 300px;
}

/* intro text */
.intro .intro_text{ 
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.intro .intro_text > div:nth-child(1){
    font-size: var(--font-size-XL);
    font-weight: bold;
}

.intro .intro_text > div:nth-child(1) > span:last-child{ 
    color: var(--purple);
}

.intro .intro_text > span:nth-child(2){
    font-size: 25px;
    color: rgb(95, 95, 95);
    margin-top: 10px;
}

.intro .intro_text > span:nth-child(3){
    font-size: 18px;
    color: rgb(158, 158, 158);
    margin-top: 10px;
    max-width: 400px;
}

.intro .intro_log{ 
    margin: 30px 0px;
    display: flex;
}

.intro .intro_log > a { 
    margin-right: 15px;
    background-color: var(--purple);
    color: white;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.intro .intro_text button { 
    padding: 0px 10px;
    height: 30px;
    border: none;
    border-radius: 5px ;
    background-color: #8b6add;
    color: white;
}

.intro .intro_img { 
    background-color: var(--purple);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro .intro_img img{
    width: 100%;
    object-fit: cover;
    clip-path: circle(49%);
}

.intro_scroll { 
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.intro_scroll > span:nth-child(1){
    color: var(--purple);
    font-size: 20px;
}
.intro_scroll > span:nth-child(2){
    font-size: var(--font-size-s);
    color: gray;
    margin: 0px 10px;
}
.intro_scroll > span:nth-child(3){
    font-size: var(--font-size-s);
    color: gray;
    animation: scrollDown 0.8s
               linear 0s
            infinite alternate;
}
@keyframes scrollDown { 
    0% {margin-top: -5px;}
    100% {margin-top: 10px;}
}


/* about */
.about { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1{
    font-size: var(--font-size-L);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--title-margin);
}

.about .about_introduce{ 
    width: 80%;
    display: flex;
}

.about .about_left{
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}

.about .about_left img{
    width: 100%;
    object-fit: cover;
}

.about .about_right{
    width: 70%;
}

.about .about_text{
    color: gray;
    font-size: var(--font-size-m);
    line-height: 1.5;
}


.about .about_right button{ 
    border: none;
    background-color: transparent;
    color: var(--purple);
    font-weight: bold;
}

.about .about_detail{ 
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.about .detail_box{ 
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;

}

.about .detail_box > span:first-child { 
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .detail_item{
    display: flex;
    flex-direction: column;
}

.about .detail_item>span:first-child{
   margin-top: 10px;
}
.about .detail_item>span:last-child{
    color: gray;
    margin-top: 5px;
    font-size: var(--font-size-s);
}



/* Skills */
.skills { 
    width: 80%;
}
.skills h1{
    font-size: var(--font-size-L);
    text-align: center;
    margin-bottom: var(--title-margin);
}

.skills .skill_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.skills .skill_item .item_top { 
    border-radius: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px 10px;    
}

.skills .skill_item .item_top > span:first-child{ 
    margin-right: 10px;
    color: var(--purple);
    font-size: 30px;
}

.skills .skill_item .item_top > span:last-child{
    font-size: 20px;
    font-weight: bold;
}

.skills .skill_item .item_bottom {
    height: 100px;
    display: flex;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding-left: 50px;
    margin: 20px 0px;
}

.SkillName { 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 0px;
    background-color: var(--purple);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.SkillName >span:first-child{ 
    margin-right: 10px;
}


/* portfolio */
.portfolio{
    width: 80%;
}

.portfolio h1 { 
    font-size: var(--font-size-L);
    margin-bottom: var(--title-margin);
    text-align: center;
}


.portfolio .project h2 {
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

}

.portfolio .team_project {
    margin-bottom: 50px;
}

.portfolio .project .project_wrap{ 
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.portfolio .project .porject_item{
    display: flex;
    width: 48%;
}

.portfolio .porject_item .project_img { 
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.portfolio .porject_item .project_img img{
    width: 100%;
    height: 100%;
}

.portfolio .porject_item .porject_description{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    flex-grow: 1;
}

.portfolio .porject_description > div{
    display: flex;
    flex-direction: column;
}

.portfolio .porject_description > div > span:nth-child(1){
    font-size: var(--font-size-M);
    font-weight: bold;
    color: var(--purple);
}

.portfolio .porject_description > div > span:nth-child(2){
    font-size: var(--font-size-s);
    color: gray;
    margin-top: 10px;
}

.portfolio .porject_item .porject_description > div:last-child{
    display: inline-block;
    text-align: end;
}

.portfolio .porject_item .porject_description button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--purple);
}


/* contact */
.contact{
    width: 80%;
}

.contact h1{
    font-size: var(--font-size-L);
    margin-bottom: var(--title-margin);
    text-align: center;
}

.contact .contact_info{ 
    width: 30%;
}

.contact .info_box{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.contact .info_box_left{
    font-size: 35px;
    color: var(--purple);
}

.contact .info_box_right{ 
    margin-left: 15px;
}

.contact .info_box_right > div:first-child{
    font-weight: bold;
    font-size: 18px;
}

.contact .info_box_right > div:last-child{
    color: gray;
    margin-top: 10px;
}




.contact_wrap{
    display: flex;
    flex-grow: 1;
}

.contact .contact_mail{
    flex-grow: 1;
}

.contact_mail .mail_top{ 
    display: flex;
    justify-content: space-between;
}

.contact_mail .contact_box{ 
    box-sizing: border-box;
    position: relative;
    width: 45%;
}

.contact_mail .contact_box input{ 
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border: 1.5px solid var(--purple) !important;
    border-radius: 5px;
    line-height: 1.45;
    letter-spacing: 0.04rem;
    padding: 0px 15px;
}


.contact_mail .contact_box label,
.contact_mail .mail_bottom label{ 
    display:  inline-block;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0px 5px;
    color: var(--purple);
    font-weight: bold;
}

.contact_mail .mail_bottom{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.contact_mail .mail_bottom textarea{ 
    border: 1.5px solid var(--purple) !important;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    width: 100%;
    height: 300px;
}

.contact_mail .mail_btn{ 
    width: 100%;
    text-align: end;
    margin-top: 20px;
}

.contact_mail .mail_btn button{ 
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}


/* Top Btn */
.TopBtn{ 
    width: 30px;
    height: 30px;
    background-color: var(--purple);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    cursor: pointer;
}
