* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300, 400, 500, 600, 700, 800;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --purple: #8b6add;

  --body_background: white;
  --body_secondary-background: white;
  --font_color: black;
  --font-secondary-color: gray;

  --font-size-XL: 50px;
  --font-size-L: 40px;
  --font-size-M: 18px;
  --font-size-s: 13px;

  --title-margin: 70px;
  --title-margin-mobile: 30px;

  --font-style: "NanumSquareRound";
}

[data-theme="dark"] {
  --font-color: #fafafa;
  --font-secondary-color: #fafafa;
  --body_background: #24202e;
  --body_secondary-background: #302b3b;
}

#root {
  background-color: var(--body_background);
  color: var(--font-color);
}

/* ------------- */
.App {
  max-width: 1340px;
  margin: auto;
  font-family: var(--font-style);
  position: relative;
}

.wrapper {
  max-width: 1340px;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Nav */
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1340px;
  height: 50px;
  position: fixed;
  padding: 30px 20px;
  z-index: 100;
  background-color: var(--body_background);
}

.Nav .logo {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.Nav .full-width-nav {
  display: flex;
  align-items: center;
}

.Nav .full-width-nav ul {
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-left: 0px;
}

.Nav .full-width-nav ul li {
  margin-right: 15px;
}

.Nav .full-width-nav ul li:hover,
.Nav .full-width-nav .mode-btns:hover {
  color: var(--purple);
}

.mode-btns {
  display: flex;
}

.mode-btns input {
  display: none;
}

.mode-btns input + label {
  display: inline-block;
  height: 25px;
  width: 60px;
  position: relative;
  font-size: 20px;
  border: 1.5px solid var(--purple);
  border-radius: 25px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--purple);
}

.mode-btns input + label::before {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 1px;
  content: "";
  transition: all 0.3 ease;
  z-index: 3;
  border-radius: 50%;
}

.mode-btns input + label::after {
  width: 40px;
  font-size: 11px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: hidden;
}

.mode-btns input:not(:checked) + label {
  background-color: transparent;
  text-align: right;
}

.mode-btns input:not(:checked) + label::after {
  content: attr(data-unchecked);
  right: 0;
  left: auto;
  opacity: 1;
  color: var(--purple);
}

.mode-btns input:not(:checked) + label::before {
  left: 2px;
  top: 1px;
  background-color: var(--purple);
  transition: 0.3s ease;
}

.mode-btns input:checked + label {
  text-align: left;
}

.mode-btns input:checked + label::after {
  content: attr(data-checked);
  left: 0px;
  right: auto;
  opacity: 1;
}

.mode-btns input:checked + label::before {
  left: 35px;
  background-color: var(--purple);
  transition: 0.3s ease;
}

/* Intro */
.intro {
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 80%;
}

.intro_wrapper {
  display: flex;
  flex-direction: column;
}

.intro .intro_img {
  width: 300px;
}

/* intro text */
.intro .intro_text {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.intro .intro_text > div:nth-child(1) {
  font-size: var(--font-size-XL);
  font-weight: bold;
}

.intro .intro_text > div:nth-child(1) > span:last-child {
  color: var(--purple);
}

.intro .intro_text > span:nth-child(2) {
  font-size: 25px;
  color: var(--font-secondary-color);
  margin-top: 10px;
}

.intro .intro_text > span:nth-child(3) {
  font-size: 18px;
  color: rgb(158, 158, 158);
  margin-top: 10px;
  max-width: 400px;
}

.intro .intro_log {
  margin: 30px 0px;
  display: flex;
}

.intro .intro_log > a {
  margin-right: 15px;
  background-color: var(--purple);
  color: white;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.intro .intro_text button {
  padding: 0px 10px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #8b6add;
  color: white;
  font: var(--font-style);
  cursor: pointer;
}

.intro .intro_img {
  background-color: var(--purple);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.intro .intro_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(50%);
}

.intro_scroll {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.intro_scroll > span:nth-child(1) {
  color: var(--purple);
  font-size: 20px;
}
.intro_scroll > span:nth-child(2) {
  font-size: var(--font-size-s);
  color: var(--font-secondary-color);
  margin: 0px 10px;
}
.intro_scroll > span:nth-child(3) {
  font-size: var(--font-size-s);
  color: var(--font-secondary-color);
  animation: scrollDown 0.8s linear 0s infinite alternate;
}
@keyframes scrollDown {
  0% {
    margin-top: -5px;
  }
  100% {
    margin-top: 10px;
  }
}

/* about */
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: var(--font-size-L);
  font-weight: bold;
  text-align: center;
  margin-bottom: var(--title-margin);
}

.about .about_introduce {
  width: 80%;
  display: flex;
}

.about .about_left {
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

.about .about_left img {
  width: 100%;
  object-fit: cover;
}

.about .about_right {
  width: 70%;
}

.about .about_text {
  color: var(--font-secondary-color);
  font-size: var(--font-size-m);
  line-height: 1.5;
}

.about .about_right a {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: var(--purple);
  font-weight: bold;
  font-size: var(--font-size-s);
}

.about .about_detail {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about .detail_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}

.about .detail_box > span:first-child {
  background-color: var(--purple);
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .detail_item {
  display: flex;
  flex-direction: column;
}

.about .detail_item > span:first-child {
  margin-top: 10px;
}
.about .detail_item > span:last-child {
  color: var(--font-secondary-color);
  margin-top: 5px;
  font-size: var(--font-size-s);
}

/* about small vesrsion */
.about_introduce_small {
  width: 80%;
}

.about_introduce_small .about_top {
  display: flex;
  margin-bottom: 20px;
}

.about_introduce_small .about_top > div:first-child {
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
}

.about_introduce_small .about_top > div:first-child img {
  width: 100%;
  object-fit: cover;
}

.about_introduce_small .about_top > div:last-child {
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_introduce_small .about_top > div:last-child > p {
  color: var(--font-secondary-color);
  line-height: 1.5;
}

.about_introduce_small .about_top > div:last-child > div {
  text-align: end;
}

.about_introduce_small .about_top > div:last-child > div > a {
  border: none;
  background-color: transparent;
  color: var(--purple);
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}

.about_introduce_small .about_bottom {
  display: flex;
}

/* Skills */
.skills {
  width: 80%;
}
.skills h1 {
  font-size: var(--font-size-L);
  text-align: center;
  margin-bottom: var(--title-margin);
}

.skills .skill_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.skills .skill_item .item_top {
  border-radius: 3px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.skills .skill_item .item_top > span:first-child {
  margin-right: 10px;
  color: var(--purple);
  font-size: 30px;
}

.skills .skill_item .item_top > span:last-child {
  font-size: 20px;
  font-weight: bold;
}

.skills .skill_item .item_bottom {
  height: 100px;
  display: flex;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  padding-left: 50px;
  margin: 20px 0px;
}

.SkillName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--purple);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.SkillName > span:first-child {
  margin-right: 10px;
}

/* portfolio */
.portfolio {
  width: 80%;
  position: relative;
}

.portfolio h1 {
  font-size: var(--font-size-L);
  margin-bottom: var(--title-margin);
  text-align: center;
}

.portfolio .project h2 {
  background-color: var(--purple);
  color: white;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  font-size: 20px;
}

.portfolio .team_project {
  margin-bottom: 50px;
}

.portfolio .project .project_wrap {
  display: flex;
  justify-content: space-between;
}

.portfolio .project .porject_item {
  display: flex;
  width: 48%;
}

.portfolio .porject_item .project_img {
  width: 200px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-right: 15px;
}

.portfolio .porject_item .project_img img {
  width: 100%;
  height: 100%;
}

.portfolio .porject_item .porject_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 52%;
}

.portfolio .porject_description > div {
  display: flex;
  flex-direction: column;
}

.portfolio .porject_item .porject_description > div:first-child {
  height: 80%;
}

.portfolio .porject_description > div > span:nth-child(1) {
  font-size: var(--font-size-M);
  font-weight: bold;
  color: var(--purple);
}

.portfolio .porject_description > div > span:nth-child(2) {
  font-size: var(--font-size-s);
  color: var(--font-secondary-color);
  margin-top: 10px;
  flex-grow: 1;
}

.portfolio .porject_item .porject_description > div:last-child {
  display: inline-block;
  text-align: end;
}

.portfolio .porject_item .porject_description button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--purple);
}

/* contact */
.contact {
  width: 80%;
}

.contact h1 {
  font-size: var(--font-size-L);
  margin-bottom: var(--title-margin);
  text-align: center;
}

.contact .contact_info {
  width: 30%;
}

.contact .info_box {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.contact .info_box_left {
  font-size: 35px;
  color: var(--purple);
}

.contact .info_box_right {
  margin-left: 15px;
}

.contact .info_box_right > div:first-child {
  font-weight: bold;
  font-size: 18px;
  color: var(--purple);
}

.contact .info_box_right > div:last-child {
  color: var(--font-color);
  margin-top: 10px;
}

.contact_wrap {
  display: flex;
  flex-grow: 1;
}

.contact .contact_mail {
  flex-grow: 1;
}

.contact_mail .mail_top {
  display: flex;
  justify-content: space-between;
}

.contact_mail .contact_box {
  box-sizing: border-box;
  position: relative;
  width: 45%;
}

.contact_mail .contact_box input {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1.5px solid var(--purple) !important;
  border-radius: 5px;
  line-height: 1.45;
  letter-spacing: 0.04rem;
  padding: 0px 15px;
  background-color: var(--body_background);
  color: var(--font-color);
}

.contact_mail .contact_box label,
.contact_mail .mail_bottom label {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--body_background);
  padding: 0px 5px;
  color: var(--purple);
  font-weight: bold;
}

.contact_mail .mail_bottom {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.contact_mail .mail_bottom textarea {
  border: 1.5px solid var(--purple) !important;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  width: 100%;
  height: 300px;
  background-color: var(--body_background);
  color: var(--font-color);
}

.contact_mail .mail_btn {
  width: 100%;
  text-align: end;
  margin-top: 20px;
}

.contact_mail .mail_btn button {
  background-color: var(--purple);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}

/* Top Btn */
.TopBtn {
  width: 30px;
  height: 30px;
  background-color: var(--purple);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  cursor: pointer;
}

/* 미디어쿼리 */

/* 태블릿 */
@media (min-width: 821px) and (max-width: 1023px) {
  /* about */

  /* portfolio */
  .portfolio .porject_item .project_img {
    width: 130px;
    height: 130px;
  }

  /* skill */
  .skills .skill_item .item_bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .SkillName {
    font-size: var(--font-size-s);
  }

  /* contact */
  .contact .contact_info {
    width: 40%;
  }
}

/* 모바일 / 태블릿 */
@media (max-width: 820px) {
  /* intro */
  .intro {
    flex-direction: column;
    position: relative;
  }
  .intro .intro_img {
    display: none;
  }

  .intro_scroll {
    position: relative;
    top: -50px;
  }

  /* about ------------ */
  .about h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .about_introduce_small .about_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .about_introduce_small .about_top > div:first-child {
    display: none;
  }

  .about_introduce_small .about_top > div:last-child {
    width: 100%;
    margin-left: 0px;
  }

  .about_introduce_small .about_top > div:last-child > p {
    font-size: var(--font-size-s);
  }

  .about_introduce_small .about_bottom {
    display: flex;
    flex-direction: column;
  }

  .about_introduce_small .detail_box {
    width: 100%;
    margin-bottom: var(--title-margin-mobile);
  }

  .about_introduce_small .detail_item {
    font-size: var(--font-size-s);
  }

  /* about end ------------ */

  /* skill */
  .skills h1 {
    font-size: 30px;
    margin-bottom: var(--title-margin-mobile);
  }

  .skills .skill_wrap {
    display: grid;
    grid-template-columns: unset;
    gap: 0;
  }

  .skills .skill_item .item_top > span:first-child {
    font-size: 20px;
  }

  .skills .skill_item .item_top > span:last-child {
    font: 18px;
  }

  .skills .skill_item .item_bottom {
    margin-top: 0px;
    padding-left: 45px;
    margin: 10px 0px;
  }

  .SkillName {
    margin-bottom: 5px;
    font-size: 13px;
  }

  /* portfolio */
  .portfolio h1 {
    font-size: 30px;
    margin-bottom: var(--title-margin-mobile);
  }

  .contact h1 {
    font-size: 30px;
    margin-bottom: var(--title-margin-mobile);
  }

  /* portfolio */
  .portfolio .project h2 {
    width: 130px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .portfolio .project .project_wrap {
    display: flex;
    flex-direction: column;
  }

  .portfolio .project .porject_item {
    width: 100%;
    margin-bottom: 20px;
  }

  .portfolio .porject_item .project_img {
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-right: 15px;
  }

  /* contact */
  .contact_wrap {
    flex-direction: column;
  }

  .contact .contact_info {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact .info_box {
    margin-bottom: 10px;
  }

  .contact .info_box_left {
    font-size: 30px;
  }

  .contact .info_box_right > div:first-child {
    font-weight: bold;
    font-size: 18px;
  }

  .contact .info_box_right > div:last-child {
    font-size: var(--font-size-s);
    margin-top: 5px;
  }

  .contact_mail .contact_box {
    width: 48%;
  }

  /* top btn */
  .TopBtn {
    right: 30px;
  }
}

/* 모바일 */
@media (max-width: 479px) {
  /* intro */
  .intro {
    height: 100%;
  }

  .intro_scroll {
    top: -150px;
  }

  .TopBtn {
    right: 30px;
    bottom: 80px;
  }

  /* nav */
  .Nav {
    bottom: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 10;
    padding: 20px;
  }

  .mobile_nav {
    display: flex;
  }

  .nav_menu_btn {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    cursor: pointer;
  }

  .nav_menu_btn input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }

  /* skill */
  .skills .skill_item { 
    margin-bottom: 20px;
  }

  .skills .skill_item .item_bottom {

  }

  .mobile_menu {
    width: 100%;
    height: 0px;
    position: fixed;
    bottom: 0;
    left: 0px;
    background-color: var(--body_secondary-background);
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s;
  }

  .mobile_menu ul {
    width: 100%;
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20px;
    margin: 40px;
  }

  .mobile_menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .mobile_menu ul li:hover {
    color: var(--purple);
  }

  .mobile_menu ul li > span:first-child {
    margin-bottom: 10px;
  }

  .mobile_menu ul li > span:last-child {
    font-size: var(--font-size-s);
  }

  .mobile_menu > div {
    width: 100%;
    text-align: end;
    padding-right: 20px;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
  }

  .mobile_menu > div:hover {
    color: var(--purple);
  }
}
